<footer class="site-footer h-card">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>© {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
        <p>
          <a href="{{ "/about/" | relative_url }}">Về tôi</a> |
          <a href="https://github.com/{{ site.github_username }}">GitHub</a> |
          <a href="https://facebook.com/{{ site.facebook_username }}">Facebook</a>
        </p>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
  </div>
</footer>
